* {
    transition: background-color 0.5s ease, width 0.5s ease, color 0.5s ease;
}
.ui.selection.active.dropdown, .ui.selection.active.dropdown .menu {
    border-color: rgba(34,36,38,.15) !important;
    box-shadow: none !important;
}
.ui.selection.dropdown:hover,
.ui.selection.dropdown:focus {
    border: 1px solid rgba(34,36,38,.15);
}
.ui.vertical.segment.container {
    padding-bottom: 2em;
}
.ui.card.stack.fluid {
    margin-bottom: 2em;
}
.ui.card.stack {
    flex-direction: row;
}
.ui.card.stack > .content {
    padding: 1.5em;
}
.menu > a.item, .ui.fixed.menu .ui.item {
    position: initial !important;
}
.ui.large.top.fixed.hidden.menu {
    background-color: whitesmoke;
}
#promo {
     margin-bottom: .1em
 }
.ui.tab {
    height: 17vh;
}
.ui.pointing.secondary.menu {
     margin-bottom: 1vh;
}
div.pusher {
    padding-top: 5em;
}
div#location {
    font-size: 10pt;
}
.tab {
    padding: 1em;
}
a, .ui.breadcrumb a {
    color: #8C4728 !important;
}
.ui.selectable.table tbody tr:hover, .ui.table tbody tr td.selectable:hover {
    background: transparent !important;
    color: #8C4728 !important;
}
a:hover, .ui.breadcrumb a:hover {
    color: #F18803;
}
.ui.card>.content>a.header:hover, .ui.cards>.card>.content>a.header:hover {
    color: #8C4728;
}
.ui.secondary.pointing.menu .active.item:hover {
    border-color: #8C4728;
    color: #8C4728;
    font-weight: normal;
}
.ui.secondary.pointing.menu .active.item {
    border-color: #8C4728;
    color: #8C4728;
    font-weight: normal;
}
.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
    background-color: transparent;
    color: #8C4728;
}
p.price-last-update {
    font-size: 8pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(124, 70, 33, 0.51);
}
.ui.brown.button, .ui.brown.buttons .button {
    background-color: #8C4728;
}
i.fa.fa-3x {
    color: #8C4728;
}
button.ui.brown.button.active {
    background-color: #8C4728;
}
i.brown.icon {
    color: #8C4728!important;
}
.ui.message {
    background: none;
}
.site-logo {
    width: auto;
    height: 20px;
}
.ui.menu a.item:hover {
    background: whitesmoke;
    cursor: pointer;
}

div.ui.card > div.content > div.header {
    font-size: 12pt !important;
}

.price {
    font-size: 9pt !important;
}
a.category.item {
    position: initial !important;
}

.ui.menu .item {
    line-height: normal !important;
}
.ui.dropdown.link {
    position: initial !important;
}
a.category.item {
    background: transparent !important;
}
.menu.transition.visible {
    margin-left: 9em;
    margin-top: .25em;
}
.menu.transition.animating {
    margin-left: 9em;
    margin-top: .25em;
}

div.section {
    background-size: 100% auto;
    background: no-repeat center;
    display: flex;
    width: 100%;
    height: 620px;
    align-items: center;
    justify-content: flex-end;
}

#first {
    background: url("../images/about-us/first.jpg");
    margin-top: -2em;
}

#second {
    background: url("../images/about-us/second.jpg");
}

#third {
    background: url("../images/about-us/third.jpg");
}

#fourth {
    background: url("../images/about-us/fourth.jpg");
}

#fifth {
    background: url("../images/about-us/join-us.jpg");
    padding-right: 15em;
}

#fifth span {
    font-family: "Montserrat", sans-sarif;
    font-size: 20pt;
    color: white;
    line-height: normal;
}

#category-menu {
    display: block;
    position: fixed;
    top: 3em;
    width: 100%;
    height: auto;
    padding: 25px;
    padding-bottom: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, .8);
    z-index: 99998;
}

#top-bar {
    z-index: 99999;
}

a > .card.card-island {
    padding: 50px 20px !important;
    text-align: center;
    background-size: 100% auto;
    background-position: center;
    background-color: white;
    color: black;
    cursor: pointer;
}

a:hover > .card.card-island {
    background-color: black;
    color: white;
    transition: background-color 0.33s ease;
}
a > .card.card-category {
    padding: 20px 10px !important;
    text-align: center;
    background-size: 100% auto;
    background-position: center;
    background-color: black;
    color: white;
    cursor: pointer;
}

a:hover > .card.card-category {
    background-color: whitesmoke;
    transition: background-color 0.33s ease;
}

