.ui.selection.active.dropdown, .ui.selection.active.dropdown .menu {
    border-color: rgba(34,36,38,.15) !important;
    box-shadow: none !important;
}
.ui.selection.dropdown:hover,
.ui.selection.dropdown:focus {
    border: 1px solid rgba(34,36,38,.15);
}
.ui.vertical.segment.container {
}
    padding-bottom: 2em;
}
.ui.card.stack.fluid {
    margin-bottom: 2em;
}
.ui.card.stack {
    flex-direction: row;
}
.ui.card.stack > .content {
    padding: 1.5em;
}
.menu > a.item, .ui.fixed.menu .ui.item {
    position: initial !important;
}
.ui.large.top.fixed.hidden.menu {
    background-color: whitesmoke;
}
#promo {
     margin-bottom: .1em
 }
.ui.tab {
    height: 17vh;
}
.ui.pointing.secondary.menu {
     margin-bottom: 1vh;
}
div.pusher {
    margin-top: 5em;
}
div#location {
    font-size: 10pt;
}
.tab {
    padding: 1em;
}
a, .ui.breadcrumb a {
    color: #F18803;
}
.ui.selectable.table tbody tr:hover, .ui.table tbody tr td.selectable:hover {
    background: transparent !important;
    color: #8C4728 !important;
}
a:hover, .ui.breadcrumb a:hover {
    color: #8C4728;
}
.ui.card>.content>a.header:hover, .ui.cards>.card>.content>a.header:hover {
    color: #8C4728;
}
.ui.secondary.pointing.menu .active.item:hover {
    border-color: #8C4728;
    color: #8C4728;
    font-weight: normal;
}
.ui.secondary.pointing.menu .active.item {
    border-color: #8C4728;
    color: #8C4728;
    font-weight: normal;
}
.ui.secondary.pointing.menu .dropdown.item:hover, .ui.secondary.pointing.menu .link.item:hover, .ui.secondary.pointing.menu a.item:hover {
    background-color: transparent;
    color: #8C4728;
}
p.price-last-update {
    font-size: 8pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(124, 70, 33, 0.51);
}
.ui.brown.button, .ui.brown.buttons .button {
    background-color: #8C4728;
}
i.fa.fa-3x {
    color: #8C4728;
}
button.ui.brown.button.active {
    background-color: #8C4728;
}
i.brown.icon {
    color: #8C4728!important;
}
.ui.message {
    background: none;
}