.detail-menu {
    font-size: 12pt;
}

#head-menu {
    margin-bottom: .5em;
}

.product img {
    height: 140px;
    width: auto;
    margin: 0 0;
    vertical-align: top;
}

div.grid {
    margin-left: auto;
}

div.grid2 {
    margin-left: auto;
}

button.product {
    background-image: linear-gradient(0deg, rgba(140, 71, 40, 0.75) 50%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 75%) !important;
    font-size: 12px !important;
    margin-top: 0.75em;
}

button.rectangle {
    background-image: linear-gradient(0deg, rgba(140, 71, 40, 0.75) 25%, rgba(140, 71, 40, 1) 25%, rgba(140, 71, 40, 0.8) 90%);
    height: 160px;
    width: 150px;
    border: 1px solid #7c4621;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 2em;
    font-weight: bold;
}
h3 {
    margin-left: 1em;
    color: #FFFFFF;
}
ul.nav li {
    margin-right:20px;
    float:right;
    height:100%;
    line-height:20px;
}

#productList ul.nav li a {
    color: whitesmoke;
    cursor: default;
}

.list {
    margin-left: 1.5em;
    margin-top: 1em;
}

.price {
    font-weight: bold;
    font-size: 13px;
}

.input-xs {
    height: 26px;
    padding: 2px 5px;
    font-size: 14px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

button.rectangle {
    cursor: pointer;
    overflow: hidden;
}

button.deleteMenu {
    background: Transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 100%;
    padding: 15px;
}