.price {
    font-weight: bold;
    font-size: 11pt;
}

.input-xs {
    height: 26px;
    padding: 2px 5px;
    font-size: 14pt;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-radius: 3px;
}

button.deleteMenu {
    background: Transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

td a {
    display: block;
    width: 100%;
    padding-top: 25%;
    padding-bottom: 25%;
    color: black;
}

td a:hover {
    color: black;
    text-decoration: none;
}

td a.table-number {
    vertical-align: middle;
}

.input-lg > option {
    height: 100px;
}